<%- include('../partials/header_start.ejs'); -%>
<title>Private Clinic Dashboard</title>
<%- include('../partials/header_end.ejs'); -%>

<div class="d-flex" id="wrapper">

  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><a href="/admin"><i class="fas fa-hospital-symbol mr-2"></i>Private Clinic</a></div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseUsers" role="button" aria-expanded="true" aria-controls="collapseUsers">
        <span class="d-flex justify-content-between align-items-center">
          <div><i class="fas fa-users mr-3"></i>Users</div>
          <i class="fas fa-caret-down"></i>
        </span>
      </a>
      <div class="list-group list-group-flush collapse show" id="collapseUsers">
        <a href="/admin/clients" class="list-group-item list-group-item-action active"><span class="sr-only">(current)</span><span class="pl-3">Clients</span></a>
        <a href="/admin/secs" class="list-group-item list-group-item-action"><span class="pl-3">Secretary</span></a>
        <a href="/admin/docs" class="list-group-item list-group-item-action"><span class="pl-3">Doctors</span></a>
      </div>
      <a href="/admin/appts" class="list-group-item list-group-item-action"><i class="far fa-calendar-check mr-3"></i>Appointments</a>
      <a href="/admin/rooms" class="list-group-item list-group-item-action"><i class="fas fa-procedures mr-3"></i>Rooms</a>
      <a href="/admin/meds" class="list-group-item list-group-item-action"><i class="fas fa-pills mr-3"></i>Medicines</a>
    </div>
  </div>

  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
      <div id="menu-toggle">
        <button class="btn btn-primary">Toggle Menu</button>
        <button class="navbar-toggler" type="button"><i class="fas fa-bars"></i></button>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle fa-lg mr-2"></i>
              <%= user.email %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/settings">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid mt-3">

      <%- include('../partials/error_messages.ejs'); -%>

      <form action="/admin/clients" method="get">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search a client by email..." aria-label="Search" aria-describedby="search-addon" name="email">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="search-addon"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

      <div class="table-responsive my-3">
        <table class="table table-striped table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Birth Date</th>
              <th scope="col">Gender</th>
            </tr>
          </thead>
          <tbody>
            <% clients.forEach((client) => { %>
              <tr role="button" data-url="/admin/clients/<%= client._id %>">
                <td><%= client.email %></td>
                <td><%= client.firstname %></td>
                <td><%= client.lastname %></td>
                <td><%= client.birth %></td>
                <td><%= client.gender %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>

<%- include('../partials/libs_bundle.ejs'); -%>
<script>
  const tableRows = $('tr');

  for (let i = 1; i < tableRows.length; ++i) {
    tableRows[i].onclick = function () {
      uri = this.getAttribute('data-url');
      window.location = uri;
    };
  }
</script>
<%- include('../partials/footer_end.ejs'); -%>
